/* Basic sample */

body{
	margin:0;
    background-color:transparent;
    overflow:hidden;
    height:100%;
}
.textuali-container {
    margin: 0 auto;
    clear: both;
    overflow:hidden;
    width:922px;

}
#buttons-row {
    margin-bottom: 15px;
    position:relative;
    z-index:5;
}
.error-message {
    display:none;
}
.largenav {
    position:absolute;
    font-size:65px;
    color: #ccc;
    top: 50%;
    cursor:pointer;
    height:50px;
    width:auto;
}
.largenav.flb-prev {
    right: 22%;
}
.largenav.flb-next{
    left:22%;
}
.mode-toggle.on {
    background-color:lightcyan;
}
/*@media (min-width: 1850px) {
    .textuali-container {
        width: 1400px;
    }
}
@media (min-width:1575px) {
    .textuali-container {
        width: 1024px;
    }
}
@media (max-width:1200px) {
    .textuali-container {
        min-height: 1000px;
    }
}
@media (max-width:1024px) {
    .textuali-container {
        min-height: 800px;
    }
}
@media (max-width: 940px) {
    .textuali-container {
        min-height: 500px;
    }
}*/

.flipbook-viewport{
	/*overflow:hidden;*/
	width:100%;
	height:100%;
}

.page.odd {
    direction: rtl;
}
.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:600px;
    left: -20px;
    /*top:-20px;
	left:-461px;
	top:-300px;*/
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

/*.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}*/

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
    max-width:100%;
    height:auto !important;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}


.hidden {
    display:none;
 }
.page-html {
    padding: 40px 1em 0;
    background-color:white;
    height:100%;
}
.page-html iframe {
    width:100%;
    border:none;
    background:white;
}
.page.odd { 
    text-align:right
}
.page.even {
     text-align:left
 }
.page_end {
    position: absolute;
    bottom: -10px;
 }
.page.odd .page_end {
    left: 5px;
}
.page.even .page_end{
    right: 5px;
}
div.pagelive {
    text-align:justify;
	font-family:"Times New Roman";
	margin: 0 3%;
    color:#101010;
	font-size: 1.2em; 
	line-height: 1.3em;
	background: none transparent;
    position:relative;
}
.pagelive.toclive {
    line-height: 90%;
}
.toc-list {
    text-align:right;
}
.toc-list li {
    display:block;
    margin:10px 0;
}
a.toc-link, a.toc-link:visited {
    padding: 3px; color: #000; 
    line-height:20px;
}
.spine-gradient{
	width:100%;
	height:100%;
}
#search-form input {
    width:calc(100% - 60px);
}
#search-form button {
    width: 50px;
} 
#search-results .toc-list {
    padding-right:0;
}
#search-results .toc-list > li >a:hover {
    background-color:#F5F5F5;
}
.search-results-pagenum {
    display:block;
    text-decoration:underline;
}

.page.odd .spine-gradient /*, .page.odd .page-html*/{
	/*background:-webkit-gradient(linear, left top, right top, colorstop(0%, 255,255,255,0), colorstop(94%, 255,255,255,0.25), color-stop(0.95, rgba(255,255,255,0.5)), color-stop(1, rgba(218,218,218,1)));
	background-image:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(218,218,218,1) 100%);
	background-image:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%,  rgba(255,255,255,0.5) 95%, rgba(218,218,218,1) 100%);
	background-image:-ms-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(218,218,218,1) 100%);
	background-image:-o-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(218,218,218,1) 100%);
	background-image:linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(218,218,218,1) 100%);*/
   background: -moz-linear-gradient(left,  rgba(247,247,247,0) 0%, rgba(245,245,245,0) 1%, rgba(213,213,209,0.06) 16%, rgba(50,49,25,0) 92%, rgba(37,36,11,0.15) 98%, rgba(33,32,6,0.4) 100%); /* FF3.6+ */
   
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(247,247,247,0)), color-stop(1%,rgba(245,245,245,0)), color-stop(16%,rgba(213,213,209,0.06)), color-stop(92%,rgba(50,49,25,0)), color-stop(98%,rgba(37,36,11,0.15)), color-stop(100%,rgba(33,32,6,0.4))); /* Chrome,Safari4+ */
   
   background: -webkit-linear-gradient(left,  rgba(247,247,247,0) 0%,rgba(245,245,245,0) 1%,rgba(213,213,209,0.06) 16%,rgba(50,49,25,0) 92%,rgba(37,36,11,0.15) 98%,rgba(33,32,6,0.4) 100%); /* Chrome10+,Safari5.1+ */
   
   background: -o-linear-gradient(left,  rgba(247,247,247,0) 0%,rgba(245,245,245,0) 1%,rgba(213,213,209,0.06) 16%,rgba(50,49,25,0) 92%,rgba(37,36,11,0.15) 98%,rgba(33,32,6,0.4) 100%); /* Opera 11.10+ */
   
   background: -ms-linear-gradient(left,  rgba(247,247,247,0) 0%,rgba(245,245,245,0) 1%,rgba(213,213,209,0.06) 16%,rgba(50,49,25,0) 92%,rgba(37,36,11,0.15) 98%,rgba(33,32,6,0.4) 100%); /* IE10+ */
   
   background: linear-gradient(to right,  rgba(247,247,247,0) 0%,rgba(245,245,245,0) 1%,rgba(213,213,209,0.06) 16%,rgba(50,49,25,0) 92%,rgba(37,36,11,0.15) 98%,rgba(33,32,6,0.4) 100%); /* W3C */
   
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#66212006',GradientType=1 ); /* IE6-9 */
   
    
}

.page.even .spine-gradient /*, .page.even .page-html*/{
	/*background:-webkit-gradient(linear, right top, left top, colorstop(0%, 255,255,255,0), colorstop(94%, 255,255,255,0.25), color-stop(0.95,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5)), color-stop(1, rgba(202,202,202,1)));
	background-image:-webkit-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(202,202,202,1) 100%);
	background-image:-moz-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(202,202,202,1) 100%);
	background-image:-ms-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(202,202,202,1) 100%);
	background-image:-o-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(202,202,202,1) 100%);
	background-image:linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(202,202,202,1) 100%);*/
 background: -moz-linear-gradient(left,  rgba(33,32,6,0.4) 0%, rgba(32,31,6,0.15) 2%, rgba(30,29,6,0) 8%, rgba(5,5,1,0.06) 84%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */

 background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(33,32,6,0.4)), color-stop(2%,rgba(32,31,6,0.15)), color-stop(8%,rgba(30,29,6,0)), color-stop(84%,rgba(5,5,1,0.06)), color-stop(99%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */

 background: -webkit-linear-gradient(left,  rgba(33,32,6,0.4) 0%,rgba(32,31,6,0.15) 2%,rgba(30,29,6,0) 8%,rgba(5,5,1,0.06) 84%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */

 background: -o-linear-gradient(left,  rgba(33,32,6,0.4) 0%,rgba(32,31,6,0.15) 2%,rgba(30,29,6,0) 8%,rgba(5,5,1,0.06) 84%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */

 background: -ms-linear-gradient(left,  rgba(33,32,6,0.4) 0%,rgba(32,31,6,0.15) 2%,rgba(30,29,6,0) 8%,rgba(5,5,1,0.06) 84%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* IE10+ */

 background: linear-gradient(to right,  rgba(33,32,6,0.4) 0%,rgba(32,31,6,0.15) 2%,rgba(30,29,6,0) 8%,rgba(5,5,1,0.06) 84%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* W3C */

 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66212006', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */


}
.page.even .page-html, .page.odd .page-html {
    background-color:white;
}
.page.odd .page-html {
    border-right: 1px solid #ccc;
}
.page.even .page-html {
    border-left: 1px solid #ccc;
}
.popover#search-popover {
    max-width: 500px;
    text-align:right;
    padding: 10px;
}
.in-page-highlight {
    font-size: 16px;
    color: white;
    background-color:darkred;
}
.in-page-highlight.whole{
    background-color:darkblue;
}
.in-page-highlight.whole .in-page-highlight {
    background-color:inherit;
}

#gotopage-popover{
    direction:ltr;
}
#gotopage-form input[type="text"] {
    width: 70px;
}

