/* Basic sample */

body{
	margin:0;
    background-color:transparent;
    overflow:hidden;
    height:100%;
}
.textuali-container {
    margin: 0 auto;
    clear: both;
    overflow:hidden;
    width:922px;
}
#side-buttons {
    position: absolute;
    top: 100px;
    width: 70px;
}
#buttons-row {
    margin-bottom: 15px;
    position:relative;
    z-index:5;
    text-align:center;
}
.error-message {
    display:none;
}
.largenav {
    position:absolute;
    font-size:65px;
    color: #ccc;
    top: 50%;
    cursor:pointer;
    height:50px;
    width:auto;
}

.mode-toggle.on {
    background-color:lightcyan;
}

.flipbook-viewport{
	/*overflow:hidden;*/
	width:100%;
	height:100%;
}


.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:600px;
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}


.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
    max-width:100%;
    height:auto !important;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.hidden {
    display:none;
 }

.page-html {
    padding: 40px 1em 0;
    background-color:white;
    height:100%;
}

.page-html iframe {
    width:100%;
    border:none;
    background:white;
}

.page_end {
    position: absolute;
    bottom: -10px;
 }

.page.odd .page_end {
    left: 5px;
}

.page.even .page_end{
    right: 5px;
}

div.pagelive {
    text-align:justify;
	font-family:"Times New Roman";
	margin: 0 3%;
    color:#101010;
	font-size: 1.2em; 
	line-height: 1.3em;
	background: none transparent;
    position:relative;
}

.pagelive.toclive {
    line-height: 90%;
}

.toc-list {
    overflow:auto;
}
.toc-list li {
    display:block;
    margin:10px 0;
}

a.toc-link, a.toc-link:visited {
    padding: 3px; color: #000; 
    line-height:20px;
}

.spine-gradient{
	width:100%;
	height:100%;
}

#search-results .toc-list {
    padding-right:0;
}

#search-results .toc-list > li >a:hover {
    background-color:#F5F5F5;
}

.search-results-pagenum {
    display:block;
    text-decoration:underline;
}

.page.even .page-html, .page.odd .page-html {
    background-color:white;
}

.popover#search-popover {
    max-width: 500px;
    padding: 10px;
}

.in-page-highlight {
    font-size: 16px;
    color: white;
    background-color:darkred;
}

.in-page-highlight.whole{
    background-color:darkblue;
}

.in-page-highlight.whole .in-page-highlight {
    background-color:inherit;
}

#gotopage-form input[type="text"] {
    width: 70px;
}

