
/* flip direction adjustments  */
body {
    direction: rtl;
}

.flipbook-viewport .flipbook {
    left: -20px;
}
.largenav.flb-prev {
    right: 22%;
}
.largenav.flb-next{
    left:22%;

}
.page.odd { 
    text-align:right
    direction: rtl;
}
.page.even {
     text-align:right;
}

.toc-list {
    text-align:right;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    float: right;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.page.odd .spine-gradient /*, .page.odd .page-html*/{
   background: -moz-linear-gradient(left,  rgba(247,247,247,0) 0%, rgba(245,245,245,0) 1%, rgba(213,213,209,0.06) 16%, rgba(50,49,25,0) 92%, rgba(37,36,11,0.15) 98%, rgba(33,32,6,0.4) 100%); /* FF3.6+ */
   
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(247,247,247,0)), color-stop(1%,rgba(245,245,245,0)), color-stop(16%,rgba(213,213,209,0.06)), color-stop(92%,rgba(50,49,25,0)), color-stop(98%,rgba(37,36,11,0.15)), color-stop(100%,rgba(33,32,6,0.4))); /* Chrome,Safari4+ */
   
   background: -webkit-linear-gradient(left,  rgba(247,247,247,0) 0%,rgba(245,245,245,0) 1%,rgba(213,213,209,0.06) 16%,rgba(50,49,25,0) 92%,rgba(37,36,11,0.15) 98%,rgba(33,32,6,0.4) 100%); /* Chrome10+,Safari5.1+ */
   
   background: -o-linear-gradient(left,  rgba(247,247,247,0) 0%,rgba(245,245,245,0) 1%,rgba(213,213,209,0.06) 16%,rgba(50,49,25,0) 92%,rgba(37,36,11,0.15) 98%,rgba(33,32,6,0.4) 100%); /* Opera 11.10+ */
   
   background: -ms-linear-gradient(left,  rgba(247,247,247,0) 0%,rgba(245,245,245,0) 1%,rgba(213,213,209,0.06) 16%,rgba(50,49,25,0) 92%,rgba(37,36,11,0.15) 98%,rgba(33,32,6,0.4) 100%); /* IE10+ */
   
   background: linear-gradient(to right,  rgba(247,247,247,0) 0%,rgba(245,245,245,0) 1%,rgba(213,213,209,0.06) 16%,rgba(50,49,25,0) 92%,rgba(37,36,11,0.15) 98%,rgba(33,32,6,0.4) 100%); /* W3C */
   
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#66212006',GradientType=1 ); /* IE6-9 */
   
    
}

.page.even .spine-gradient /*, .page.even .page-html*/{
	/*background:-webkit-gradient(linear, right top, left top, colorstop(0%, 255,255,255,0), colorstop(94%, 255,255,255,0.25), color-stop(0.95,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5)), color-stop(1, rgba(202,202,202,1)));
	background-image:-webkit-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(202,202,202,1) 100%);
	background-image:-moz-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(202,202,202,1) 100%);
	background-image:-ms-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(202,202,202,1) 100%);
	background-image:-o-linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(202,202,202,1) 100%);
	background-image:linear-gradient(right,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 94%, rgba(255,255,255,0.5) 95%, rgba(202,202,202,1) 100%);*/vkkk
background: -moz-linear-gradient(left,  rgba(33,32,6,0.4) 0%, rgba(32,31,6,0.15) 2%, rgba(30,29,6,0) 8%, rgba(5,5,1,0.06) 84%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%); /* FF3.6+ */

 background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(33,32,6,0.4)), color-stop(2%,rgba(32,31,6,0.15)), color-stop(8%,rgba(30,29,6,0)), color-stop(84%,rgba(5,5,1,0.06)), color-stop(99%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */

 background: -webkit-linear-gradient(left,  rgba(33,32,6,0.4) 0%,rgba(32,31,6,0.15) 2%,rgba(30,29,6,0) 8%,rgba(5,5,1,0.06) 84%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */

 background: -o-linear-gradient(left,  rgba(33,32,6,0.4) 0%,rgba(32,31,6,0.15) 2%,rgba(30,29,6,0) 8%,rgba(5,5,1,0.06) 84%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */

 background: -ms-linear-gradient(left,  rgba(33,32,6,0.4) 0%,rgba(32,31,6,0.15) 2%,rgba(30,29,6,0) 8%,rgba(5,5,1,0.06) 84%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* IE10+ */

 background: linear-gradient(to right,  rgba(33,32,6,0.4) 0%,rgba(32,31,6,0.15) 2%,rgba(30,29,6,0) 8%,rgba(5,5,1,0.06) 84%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* W3C */

 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66212006', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */


}

.page.odd .page-html {
    border-right: 1px solid #ccc;
}
.page.even .page-html {
    border-left: 1px solid #ccc;
}
.popover#search-popover {
    text-align:right;
}
#gotopage-popover{
    direction: rtl;
}

