
/* convenience vars. (real vars  -- user parameters and sides are handeled by mustache */
@topborderwidth: 5px;
@horizspace: 20px;
@vertspace: 20px;
@header_text_color: lighten({{light_bg}},30%);
@font-size-large: {{font_size_base}}*1.1; 
html {
    font-size:{{font_size_base}};
}
body, html {
    height:100%;
    font-family: Alef;
    background-color:{{primary_color}};
}
body > * {
    direction: {{dir}};
}


[data-href],[data-dismiss] {
    cursor:pointer;
}

a {
    transition: color 0.2s;
}
.textualiblock {
    .col-lg-3;
    .col-md-4;
    .col-sm-6;
    .col-xs-12;
}
.pipe {
    margin: 0 5px;
    color:{{primary_color}};
}
.loader {
    height: 100px;
    width: 100px;
    top: e('calc(50% - 50px)');
    {{side}} : e('calc(50% - 50px)');
    position:absolute;
}

.color-anchor(@color:{{primary_color}}) {
    &,&:hover,&:focus {
        outline:none;
        color: @color;
   }
   &:hover {
       color: darken(@color,10%);
  }
}

/** helper classes **/
.extremist {
    float: {{oposide}};
}


/** header **/
#masthead {
    margin-bottom: 0;
    background-color:{{header_bg}};
    border-bottom: @topborderwidth solid {{light_bg}};    
    box-sizing:border-box;
    height:{{header_height}};
    .container.wide {
        margin-top: @vertspace/2;
    }
    nav,#util-buttons {
        margin-top: @vertspace/2;
    }
    .header-component {
        float: {{side}};
        margin-{{oposide}}: @horizspace;
        &:last-child {
            float:{{oposide}};
            margin-{{oposide}}:0;
        }
    }
}
.navbar-toggle {
    span {
        background-color: @header_text_color;
    }
}

#primary-navigation {
    background-color: {{header_bg}};
    .nav {
        list-style: none;
        padding-{{side}}:0;
        > li {
            width: auto;
        }
        li > a {
            font-weight: 600;
            font-size:@font-size-large;
            color: @header_text_color;
            &:hover,&:focus,&.active{
                background-color: transparent;
                color: {{primary_color}};
            }
        }
        .dropdown-menu {
            text-align:{{side}};
            background-color:{{header_bg}};
        }
    }
    &.collapse,&.collapsing{
        top: {{header_height}} - @vertspace/2;
        
        overflow:visible;
        .nav-justified .dropdown-menu {
            top: 100%;
            {{oposide}}:0;
        }
    }
}

#logo { 
    padding: 0 @horizspace;
    position: relative;
    /*> a {
        display:block;
        width:100%;*/
        img{
            max-height:{{header_height}} - @topborderwidth - @vertspace;    
            max-width: 100%;
            margin-top: @vertspace/2;
            height: auto;
        }
    //}
    .map {
        display:block;
        position: absolute;
        width:50%;
        height: 100%;
        z-index: 2;
        top: 0;
        &.prim.rtl, &.alt.ltr {
            {{oposide}}: 0;
        }
        &.alt.rtl, &.prim.ltr {
            {{side}}:0;
        }
    }
}

/* main */
main {
    min-height:100%; 
    margin-top: {{header_height}};
    /*&.external {
        background: none;
        #page-title {
            color: {{primary_color}};
        }
    } */
    a,a:hover {
        color:@header_text_color;
    }
    h1,h2,h3,h4,h5,h6 {
        color:@header_text_color;
        font-weight:600;
        main > & {
            text-align:center;
        }
    }
    body.external & {
        padding: 0;
        position: relative;
        top: {{header_height}};
        margin-top:0;

    }
}

/** videos page **/
.vidwrap {
    margin: 10px 0;
    .vid {
        cursor: pointer;
        color: @header_text_color;
    }
}
.startframe {
    position: relative;
    overflow:hidden;
    &:hover {
        svg,.glyphicon {
            opacity: 1;
        }
    }
    img {
        width:100%;
    }
    svg,.glyphicon{
        @buttoncolor : {{primary_color}};
        position: absolute;
        transition: opacity 0.2s;
        opacity: 0.8;
        color: @buttoncolor;
        &.playbutton {
            transform: scale(0.7);
            top: e('calc(50% - 50px)');
            {{side}}:e('calc(50% - 75px)') 
        }
        &.slidesicon {
            //top: e('calc(50% - 20px)');
            top: e('calc(100% - 70px)');
            //{{side}}:e('calc(50% - 20px)');
            {{side}}:@horizspace;
            font-size:50px;
        }
        &:hover {
            opacity: 1;
        }
        * {
            stroke: none;
        }
        path {
            fill:@buttoncolor; 
        }
        polygon {
            fill: @header_text_color;
        }
        .rect1 {
           fill:  @buttoncolor;
        } 
        .rect2 {
            fill: @buttoncolor;
            stroke: @header_text_color;
            stroke-width: 5;
        }
        .rect3 {
            fill: @header_text_color;
        }
    }
}
/** publications page **/
.book-item{
    height: 350px;
    margin: @vertspace 0;
    overflow:hidden;
}

.item-inner,.vid {
    padding:@vertspace/2 @horizspace/2;
    background-color:{{light_bg}};
    height:100%;
    h3 {
        margin-top: 0;
    }
    a:not(.book-cover) {
        .color-anchor();
    }
    .book-detail {
        margin:@vertspace/4 0;
        font-size:@font-size-large;
    }
    .book-item-covers {
        margin: @vertspace/2 0;
        max-height: 55%;
        overflow: hidden;
    }
    .book-cover{
        margin-top:@vertspace;
        margin-{{oposide}}:@horizspace;
        overflow:hidden;
        img.vertical {
            height: 200px;
        }
        img.horizontal {
            width: 150px;
        }
        img {
            max-width:45%;
        }
    }
    h2,h3,h4,p,div,span {
        color: {{textcolor}};
    }
}

.book-details {
    width:70%;
    float:{{side}};
    padding:0 @horizspace;
}

/* pictures template */
.slideshow-modal {
    margin-top: @vertspace;
    cursor:pointer;
}

.carousel {
    padding-top:@vertspace;
    h2 {
        color: {{primary_color}};
        text-align:center;
        z-index:2;
        position: absolute;
        width: 100%;
        top: -1*@vertspace;
        margin:0;
    }
}





/* static template */
#static-container {
    margin:0  auto;
    width: 80%;
    max-width: 1200px;
    min-width: 460px;
    background-color:{{light_bg}};
    color:{{textcolor}};
    a,h2,h3,h4,h5,h6 {
        color:{{primary_color}};
   }
   img {
       max-width: 100%;
  }
} 
#util-buttons {
    .glyphicon {
        cursor:pointer;
        font-size: 24px; 
        color:{{primary_color}};
        padding-top: @vertspace*0.75;
        margin-{{oposide}}:@horizspace/2;
        
    }
}
.social-button {
    display:inline-block;
    margin:@vertspace @horizspace;
    cursor: pointer;
    width: 50px;
    img {
        width: 100%;
    }
}
.utilbox {
    height: 0px;
    width: 0px;
    overflow: hidden;
    text-align:{{oposide}};
    opacity: 0;
    transition: opacity 0.15s linear 0s;
    position: fixed;
    top: {{header_height}};
    background-color: {{header_bg}};
    color:@header_text_color;
    z-index:3;
    &.in {
        height:auto;
        width:100%;
        opacity:1;
        padding: @vertspace @horizspace;
    }
    form {
       color: {{textcolor}};
       display: inline-block;
       margin-{{oposide}}:@horizspace;
    }
    label {
        color: @header_text_color;
        margin-{{oposide}}: 5px;
    }
}

/* modal fixes */
.modal-content {
    border:none;
    padding: 0;
}
.modal-header {
    border-bottom:none;
}
.modal-lg {
    margin:@vertspace/2 auto;
    direction:rtl;
    width: 90%;
    .close {
        position:absolute;
        z-index:5;
        top:@vertspace/2;
        img,& {
            opacity:1;
        }
        &.share-modal {
            {{side}} : 50px;
        }
    }
     
    iframe {
        width: 100%;
        border:none;
        height: 900px;
    }
    .share-input-wrap {
        position: absolute;
        z-index:3;
        left:10%;
        top:10%;
        width: 80%;
        background-color: lighten({{primary_color}},10%);
        padding: @vertspace @horizspace;
        border-radius:3px;
        .share {
            width:90%;
            text-align:left;
            padding: 5px;
            border: 2px solid {{primary_color}};
            border-radius: 3px;
            float: left;
        }
        .close {
           color:darken({{primary_color}},10%);
           position:absolute;
           right: 5px;
           top:@vertspace + 5px;
       }
    }
}

/** iframes **/
iframe{
    width:100%;
    height:100%;
    border:none;
}
#iframe-wrap {    
    background-color: white;
    position:relative;
    height:500px;
}

/* isotope */
.isotope-item {
    margin: 1%;
    padding:@vertspace @horizspace;
    background-color:{{light_bg}};
    width: 19%;
    .item-image {
        width:100%;
    }
    .item-text{
        max-width:300px;
    }
}

/* documents */
.document-image {
    max-width: 100%;
    cursor: pointer;
}
/* flip substitute for small screens */
#phone-scroll-book {
    display:none;
    padding:@vertspace @horizspace;
    margin-top: {{header_height}};
    > img {
        width: 90%;
        margin:@vertspace/2 0;
    }
    
}
button.screenaction {
    opacity:0.7;
    position: fixed;
    z-index:2;
    &:hover{
        opacity:1;
    }
    &#close-phone-scroll {
        top: {{header_height}} + @vertspace;
        {{side}}: @horizspace;
        line {
            stroke-width: 2px;
            stroke: {{header_bg}};
        }
    }
    &#scrollup {
        display:none;
        bottom: @vertspace;
        {{side}} : e('calc(50% - 25px)');
        polygon {
            fill: {{header_bg}};
        }
    }
}

/* footer */
#site-footer {
    border-top: @topborderwidth solid {{light_bg}};
    background-color:{{primary_color}};
    text-align: left;
    padding-top:@vertspace;
    a {
        color: @header_text_color;
        margin: 5px;
    }
}

@media only screen and (max-width: 1400px) {
    #primary-navigation .nav > li > a {
       font-size:{{font_size_base}};
    } 
    .isotope-item {
        width: 30%;
    }
}
@media only screen and (max-width: 1120px) {
    .nav > li > a {
        padding: 5px;
    }
    #logo {
        width: 130px;
        padding:0;
        padding-{{side}}:5px;
        margin:10px 0;
    }
    #util-buttons .glyphicon {
        font-size: 20px;
   }
}
@media only screen and (max-width: 920px) and (min-width: 768px) {
    #menu-button {
       display:none; 
    }
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        width:100%;
    }
    #static-container {
        width: auto;
        min-width: 2px;
        max-width: 95%;
    }
    #masthead .header-component {
        margin-{{oposide}}: 10px;
    }
    #menu-button{
        margin-top: @vertspace;
        button {
            padding:0;
            margin: 0;
        }
    }
    .isotope-item {
        width:48%;
    }
}

@media only screen and (max-width: 480px) {
    .isotope-item {
        width: 95%;
     }
}

/** bootstrap overrides **/
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: inherit;
    color: inherit;
}
.container {
    width: 100%;
}

[class*="col"] {
    float:{{side}};
}

.modal-dialog {
    width: 90%;
}

.carousel-inner {
    height: 100%;
    .item {
        height:100%;
        .slide {
            margin: auto;
            height: 100%;
        }
    }
} 

/* google search results  */
#search-results {
    margin-top: @vertspace;
    padding:5px;

    h5 {
        color : {{primary_color}};
    }
}
