body, html {
    height:100%;
}
body {
    direction: {{dir}};
}

/** header **/
header {
    border-bottom: 2px solid {{textcolor}};
}
header nav ul {
    list-style: none;
    padding-{{side}}:0;
}
#logos {
    text-align:center;
}



/** videos page **/
.vidwrap {
    margin: 10px 0;
}
.vid {
    position: relative;
    cursor: pointer;
}
.vid > img {
    max-width:100%;
}
.vid  h4 {
    text-align:center;
    position: absolute;
    bottom: 0;
    width:100%;
    margin:0;
    line-height: 40px;
    color: white;
    background: rgba(0,0,0,0.7);
}



/** iframes **/
iframe{
    width:100%;
    height:100%;
    border:none;
}


/** bootstrap overrides **/
.container {
    width: 100%;
}

[class*="col"] {
    float:{{side}};
}

.modal-dialog {
    width: 90%;
}
