
/* convenience vars. (real vars  -- user parameters and sides are handeled by mustache */
@topheight:70px;
@topborderwidth: 5px;
@horizspace: 20px;
@vertspace: 20px;
@header_text_color: lighten({{light_bg}},30%);
html {
    font-size:{{font_size_base}};
}
body, html {
    height:100%;
    font-family: Alef;
}
body {
    direction: {{dir}};
}

[data-href],[data-dismiss] {
    cursor:pointer;
}

a {
    transition: color 0.2s;
}


/** header **/
#masthead {
    background-color:{{header_bg}};
    border-bottom: @topborderwidth solid {{light_bg}};    
    box-sizing:border-box;
    height:@topheight;
    .container.wide {
        margin-top: @vertspace/2;
    }
    nav,#util-buttons {
        margin-top: @vertspace;
        font-size:110%;
    }
   
}
#primary-navigation {
    .nav {
        list-style: none;
        padding-{{side}}:0;
        li > a {
            color: @header_text_color;
            &:hover{
                background-color: transparent;
                text-decoration:underline;
           }
        }
    }
}

#logo img{
    height:@topheight - @topborderwidth;    
}

/* main */
main {
    min-height:100%;
    background-color:{{primary_color}};
    margin-top: @topheight;
    a,a:hover {
        color:@header_text_color;
    }
    h1,h2,h3,h4,h5,h6 {
        color:@header_text_color;
        text-align:center;
        font-weight:600;
    }
}

/** videos page **/
.vidwrap {
    margin: 10px 0;
    .vid {
        border: @topborderwidth solid {{light_bg}};
        position: relative;
        cursor: pointer;
        > img {
            max-width:100%;
        }
        h4 {
            text-align:center;
            position: absolute;
            bottom: 0;
            width:100%;
            margin:0;
            line-height: 40px;
            color: white;
            background: rgba(0,0,0,0.7);
        }
    }
}

/** publications page **/
.book-item{
    height:300px;
    overflow:hidden;
    margin: @vertspace 0;
}
.book-wrap {
    margin: 0 @horizspace;
    background-color:{{light_bg}};
    height:100%;
    a,a:hover {
        color:{{primary_color}};
    }
}
.book-cover{
    height:100%;
    a {
        display:block;
        img {
            width:100%;
        }
    }
}
/* static template */
#static-container {
    margin:@vertspace auto;
    width: 80%;
    max-width: 1200px;
    min-width: 460px;
    background-color:{{light_bg}};
    color:{{textcolor}};
    a,h2,h3,h4,h5,h6 {
        color:{{primary_color}};
   }
} 
#util-buttons {
    .glyphicon {
        cursor:pointer;
        float: {{oposide}};
        font-size: 30px; 
        margin-{{oposide}}:@horizspace;
    }
}
.utilbox {
    height: 0px;
    width: 0px;
    overflow: hidden;
    padding: @vertspace @horizspace;
    text-align:{{oposide}};
    opacity: 0;
    transition: opacity 0.15s linear 0s;
    position: fixed;
    top: @topheight;
    background-color: {{header_bg}};
    color:@header_text_color;
    &.in {
        height:auto;
        width:100%;
        opacity:1;
   }
   form {
       color: {{textcolor}};
    }
}

/* modal fixes */
.modal-content {
    border:none;
    padding: 0;
}
.modal-header {
    border-bottom:none;
}
.modal-lg {
    margin:@vertspace/2 auto;
    left:@horizspace*2;
    direction:rtl;
    width: 90%;
    .modal-body {
        padding-bottom: 0;
     }
    .close {
        position:absolute;
        //{{side}}: @horizspace/2;
        z-index:5;
        top:@vertspace/2;
        img,& {
            opacity:1;
        }
        &#share-modal {
            {{side}} : 50px;
        }
    }
    #share-input {
        display:none;
        width: 500px;
        text-align:left;
    } 
    iframe {
        width: 100%;
        border:none;
        height: 900px;
    }

} 

/** iframes **/
iframe{
    width:100%;
    height:100%;
    border:none;
}

/* isotope */
.isotope-item {
    margin: @vertspace @horizspace;
    padding:@vertspace @horizspace;
    background-color:{{light_bg}};
    .item-image {
        width:100%;
    }
    .item-text{
        max-width:300px;
    }
}

/** bootstrap overrides **/
.container {
    width: 100%;
}

[class*="col"] {
    float:{{side}};
}

.modal-dialog {
    width: 90%;
}
