
/* convenience vars. (real vars  -- user parameters and sides are handeled by mustache */
@topheight:70px;
@topborderwidth: 5px;
@horizspace: 20px;
@vertspace: 20px;
@header_text_color: lighten({{light_bg}},30%);
html {
    font-size:{{font_size_base}};
}
body, html {
    height:100%;
    font-family: Alef;
}
body > * {
    direction: {{dir}};
}

[data-href],[data-dismiss] {
    cursor:pointer;
}

a {
    transition: color 0.2s;
}
/** helper classes **/
.extremist {
    float: {{oposide}};
}
/** header **/
#masthead {
    background-color:{{header_bg}};
    border-bottom: @topborderwidth solid {{light_bg}};    
    box-sizing:border-box;
    height:@topheight;
    .container.wide {
        margin-top: @vertspace/2;
    }
    nav,#util-buttons {
        margin-top: @vertspace/2;
        font-size:110%;
    }
    .header-component {
        float: {{side}};
        margin-{{oposide}}: @horizspace;
        &:last-child {
            float:{{oposide}};
            margin-{{oposide}}:0;
        }
    }
}
.navbar-toggle {
    span {
        background-color: @header_text_color;
    }
}

#primary-navigation {
    background-color: {{header_bg}};
    .nav {
        list-style: none;
        padding-{{side}}:0;
        > li {
            width: auto;
        }
        li > a {
            color: @header_text_color;
            &:hover,&:focus,&.active{
                background-color: transparent;
                text-decoration:underline;
           }
        }
        .dropdown-menu {
            text-align:{{side}};
            background-color:{{header_bg}};
        }
    }
    &.collapse,&.collapsing{
        top: @topheight - @vertspace/2;
        
        overflow:visible;
        .nav-justified .dropdown-menu {
            top: 100%;
            {{oposide}}:0;
        }
    }
}

#logo { 
    > a {
        display:block;
        width:100%;
        img{
            max-height:@topheight - @topborderwidth - @vertspace/2;    
            max-width: 100%;
            margin-top: @vertspace/2;
        }
    }
}

/* main */
main {
    min-height:100%;
    background-color:{{primary_color}};
    margin-top: @topheight;
    a,a:hover {
        color:@header_text_color;
    }
    h1,h2,h3,h4,h5,h6 {
        color:@header_text_color;
        font-weight:600;
        main > & {
            text-align:center;
        }
    }
}

/** videos page **/
.vidwrap {
    margin: 10px 0;
    .vid {
        //border: @topborderwidth solid {{light_bg}};
        //position: relative;
        cursor: pointer;
        color: @header_text_color;
        > img {
            max-width:100%;
        }
        /*h4 {
            text-align:center;
            position: absolute;
            bottom: 0;
            width:100%;
            margin:0;
            line-height: 40px;
            color: white;
            background: rgba(0,0,0,0.7);
        }*/
    }
}

/** publications page **/
.book-item{
    height:325px;
    overflow:hidden;
    margin: @vertspace 0;
}
.item-inner {
    padding:@vertspace/2 @horizspace/2;
    background-color:{{light_bg}};
    a,a:hover {
        color:{{primary_color}};
    }
    &.top {
        height:75%;
        padding-top:0;
    }
    &.bottom {
        height:25%;
        > * {
            display:inline-block;
            margin-{{oposide}}:@horizspace;
            margin-bottom:@vertspace/2;
            overflow:hidden;
            img {
                width:100%;
                height:auto;
            }
        }
        #back-cover{
            width:10%;
            max-height:65px;
        }
        #flip-icon {
            width: 15%;
        }
    }
    .pipe {
        margin: 0 5px;
        color:{{primary_color}};
    }
}
.book-cover{
    width:30%;
    float:{{side}};
    height:100%;
    margin-top:@vertspace;
    overflow:hidden;
    a {
        display:block;
        height:100%;
    }
    .cover-image{
        width:100%;
        max-height:100%;
    }
}
.book-details {
    width:70%;
    float:{{side}};
    padding:0 @horizspace;
}
/* static template */
#static-container {
    margin:0  auto;
    width: 80%;
    max-width: 1200px;
    min-width: 460px;
    background-color:{{light_bg}};
    color:{{textcolor}};
    a,h2,h3,h4,h5,h6 {
        color:{{primary_color}};
   }
} 
#util-buttons {
    .glyphicon {
        cursor:pointer;
        font-size: 30px; 
        margin-{{oposide}}:@horizspace;
        &.langswitch {
            font-size:110%;
            color:{{primary_color}};
            padding-top: @vertspace*0.75;
        }
    }
}
.utilbox {
    height: 0px;
    width: 0px;
    overflow: hidden;
    padding: @vertspace @horizspace;
    text-align:{{oposide}};
    opacity: 0;
    transition: opacity 0.15s linear 0s;
    position: fixed;
    top: @topheight;
    background-color: {{header_bg}};
    color:@header_text_color;
    z-index:3;
    &.in {
        height:auto;
        width:100%;
        opacity:1;
   }
   form {
       color: {{textcolor}};
    }
}

/* modal fixes */
.modal-content {
    border:none;
    padding: 0;
}
.modal-header {
    border-bottom:none;
}
.modal-lg {
    margin:@vertspace/2 auto;
    direction:rtl;
    width: 90%;
    .modal-body {
        padding-bottom: 0;
     }
    .close {
        position:absolute;
        //{{side}}: @horizspace/2;
        z-index:5;
        top:@vertspace/2;
        img,& {
            opacity:1;
        }
        &#share-modal {
            {{side}} : 50px;
        }
    }
    #share-input {
        display:none;
        width: 500px;
        text-align:left;
    } 
    iframe {
        width: 100%;
        border:none;
        height: 900px;
    }

} 

/** iframes **/
iframe{
    width:100%;
    height:100%;
    border:none;
}

/* isotope */
.isotope-item {
    margin: @vertspace @horizspace;
    padding:@vertspace @horizspace;
    background-color:{{light_bg}};
    .item-image {
        width:100%;
    }
    .item-text{
        max-width:300px;
    }
}

/* footer */
#site-footer {
    border-top: @topborderwidth solid {{light_bg}};
    background-color:{{primary_color}};
    text-align: left;
    padding-top:@vertspace;
    a {
        color: @header_text_color;
    }
}
   
@media only screen and (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        width:100%;
    }
}
/** bootstrap overrides **/
.container {
    width: 100%;
}

[class*="col"] {
    float:{{side}};
}

.modal-dialog {
    width: 90%;
}
